# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# CMake stuff
/cmake-build-debug/
/KL-Planner/cmake-build-debug/
/KL-Planner/cmake-build-debug/CMakeFiles/
/KL-Planner/cmake-build-debug/CMakeFiles/3.16.5/
/KL-Planner/cmake-build-debug/CMakeFiles/CMakeTmp/
/KL-Planner/cmake-build-debug/CMakeFiles/KL_Planner.dir/
/KL-Planner/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/
/KL-Planner/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/tmp/
/KL-Planner/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/
/KL-Planner/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/tmp/
/KL-Planner/cmake-build-debug/